.DS_Store
node_modules/
.env
# macOS thumbnail db
Icon\r

# Files exceeding GitHub's 100MB limit
cozy_living_room_baked (1).glb
cozy_living_room_baked (1).glb
./classicbedroom.glb
./modern_bathroom.glb
./mirrors_edge_apartment_-_interior_scene.glb
./chair1.glb
./cozy_living_room_baked (1).glb
./the_great_drawing_room.glb
